#about .headerlinks{
    color: rgba(25,25,25,0.7);
}

#about .headerlinks:hover{
    color: rgba(25,25,25,0.9);
    background-color: rgba(37,37,37,0.05);
}

#about #nav_link_p_r_login{
    border: 1px rgba(25,25,25,0.7) solid;
}



/*About Header*/


@media (max-width: 20000px){
#aboutHeaderImg{
    position: relative;
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 80px;
}

#aboutHeader{
    height: auto;
    min-height: auto;
    background: none;
}
    
@media (max-width: 414px){
#aboutHeader{
    height: auto;
    min-height: 200px;
}
}

#aboutHeaderImgCont{
    max-width: 1000px;
    position: relative;
    display: block;
    margin: auto;
    padding-top: 260px;
    padding-bottom: 200px;
}
}

@media (max-width: 1000px){
#aboutHeaderImgCont{
    padding-top: 200px;
    padding-bottom: 160px;
}
}

@media (max-width: 700px){
#aboutHeaderImgCont{
    padding-top: 200px;
    padding-bottom: 120px;
}
}


/*Our Story*/
.kivvikSeparator{
    background:#4777db;
    width: 40px;
    height: 3px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.aboutH2{
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 36px;
}

#ourStoryH2{
    color: #252525;
}

.homep1{
    text-align: center;
	position: relative;
	display: block;
	margin: auto;
	max-width: 680px;
	padding: 0px 2.5% 0px 2.5%;
    padding-top: 15px;
    font-weight: 400;
}

#aboutCultureImgCont{
    position: relative;
    display: block;
    margin: auto;
    max-width: 1000px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 120px;
}

#aboutCultureImg{
    position: relative;
    display: block;
    margin: auto;
    max-width: 90%;
    min-width: 300px;
}

#boardfinAdvSec{
    width: 100%;
    min-height: 600px;
    background: #262829;
}

#boardfinAdvSecHeadCont{
    width: 100%;
    min-height: 300px;
    position: relative;
    direction: block;
    padding-top: 40px;
}

#bFAH2{
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 36px;
    font-weight: 400;
}

#bFAH2Span{
    color: #72c8fa;
}

#bFAP1{
    color: #c1c8d0;
    max-width: 560px;
}

#bFAS1IMG{
    position: relative;
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 2.5%;
    padding-bottom: 0px;
    margin-top: 120px;
}

#boardfinAdvSecKate{
    width: 100%;
    min-height: 300px;
    position: relative;
    direction: block;
    background: #252525;
}

#boardfinAdvSecEd{
    width: 100%;
    min-height: 300px;
    position: relative;
    direction: block;
    background: #1d1d1d;
}

#boardfinAdvSecMatt{
    width: 100%;
    min-height: 300px;
    position: relative;
    direction: block;
    background: #252525;
}

.blindgap40px{
    padding-top: 40px;
}

#bFAH3{
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 30px;
}

.bFAContentCont{
    max-width: 960px;
    position: relative;
    display: block;
    margin: auto;
    min-height: 400px;
    padding-top: 80px;
}

.bFALeftDiv{
    width:40%;
    display: inline-block;
    position: relative;
    float: left;
    min-height: 100px;
    padding-right: 10%;
    height: auto;
}

.bFARightDiv{
    width:50%;
    display: inline-block;
    position: relative;
    float: left;
    min-height: 100px;
}

.bFALeftDivImgFill{
    width: 100%;
    height: auto;
}

.bFABodyText{
    padding-left: 20%;
    position: absolute;
    z-index: 50;
}

.bFABodyTextH4{
    color:#72c8fa;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.bFABodyTextH5{
    color:#fff;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    margin-top: -5px;
    padding-bottom: 30px;
}

#BFAProfileImgKate{
    position: absolute;
    z-index: 40;
    width: 250px;
    margin-top: -382px;
    left:50%;
    margin-left: -125px;
}

#edLogosContainer{
    padding-left: 10%;
    width: 35%;
    padding-right: 5%;
}

#BFAProfileImgEd{
    position: absolute;
    z-index: 0;
    width: 330px;
    margin-top: 20px;
    left:50%;
    margin-left: -185px;
}

#edbodyText{
    z-index: 60;
}

#edbFAContentCont{
    min-height: 360px;
}

#boardfinAdvSecMatt{
    width: 100%;
    min-height: 300px;
    position: relative;
    direction: block;
    background: #252525;
}

#BFAProfileImgMatt{
    position: absolute;
    z-index: 40;
    width: 300px;
    margin-top: -350px;
    left:50%;
    margin-left: -180px;
}

#mattbFAContentCont{
    min-height: 330px;
}

#advisorSeparator{
    height: 60px;
}


/*Advisor Section*/
#aboutAdvisors{
    background: #f8f9fb;
    border-top: 1px rgba(193,200,208,0.4) solid;
    min-height: 800px;
    padding-top: 60px;
    position: relative;
    height: auto;
}

#aboutAdvisorsCont {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    max-width: 800px;
    position: relative;
    margin: 0px auto;
    display: block;
    padding-top: 30px;
    height: auto;
}

#adminAdvisorsH2{
    color: #252525;
}

.advisorCont{
    width: calc(100% / 3);
    height: 320px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
}

.advisorImg{
    max-width: 160px;
    height: 215px;
    margin: 0px auto;
    display: block;
}

.advisorImg img{
    max-width: 160px;
}

.advisortextcontainer{
    max-width: 160px;
    padding: 0px 2% 0px 2%;
    margin: 0px auto;
}

.advisorName{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 14px;
    color: #252525;
    font-weight: 500;
    text-align: left;
    padding-top: 5px;
}

.advisorHelp{
    font-size: 12px;
    color: #72c8fa ;
    font-weight: 900;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    line-height: 13px;
}

.advisorPosition{
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: left;
    line-height: 13px;
    margin-top: 3px;
}

#advisorExperience{
    background-color: #f8f9fb;
    min-height: 400px;
    padding-top: 0px;
    padding-bottom: 60px;
    position: relative;display: block;
}

#advisorExperience .homeH2{
    padding-top: 60px;
    color: #252525;
}

#experienceH2{
    color: #252525;
}

#boardLogos{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 90%;
    max-width: 800px;
    position: relative;
    margin: auto;
    padding-top: 30px;
    min-height: 300px;
    padding: 30px 5% 0px 5%;
}

.advisorlogo {
    height: 100px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 25%;
    margin-bottom: 20px;
    float: left;
}

.advisorlogo img{
    width: 100px;
    margin: 0px auto;
    display: block;
}



/*Mobile */
/*About Page*/
@media (max-width: 414px){
    #aboutHeader{
        height: auto;
        min-height: 200px;
    }
    .homep1{
        font-size: 0.9em;
    }
    #bFAH2{
        font-size: 1.3em;
    }
    #bFAS1IMG{
        max-width: none;
        width: 100%;
        margin-top: 40px;
    }
    #bFAH3{
        font-size: 1.2em;
    }
    .bFAContentCont{
        padding-top: 30px;
    }
    
}
    .bFALeftDivImgFill{
        display: none;
    }
}

@media (min-width: 1px){
    .bFALeftDivImgFill{
        display: none;
    }
}

@media (min-width: 415px){
    .bFALeftDivImgFill{
        display: block;
    }
}


@media (max-width: 414px){
    #BFAProfileImgKate{
        margin-left: -190px;
    }
    .bFABodyTextH4{
        font-size: 0.9em;
    }
    .bFABodyTextH5{
        font-size: 0.7em;
        line-height: 1.3em;
    }
    #BFAProfileImgEd{
        margin-top: -30px;
        margin-left: -60px; 
    }
    #boardfinAdvSecEd{
        height: 500px;
    }
    #BFAProfileImgMatt{
        margin-left: -270px;
    }
    #MattBobyText{
        padding-left: 0%;
    }
    #mattBodyH{
        line-height: 1.2em;
    }
    #mattBodyP{
        padding-bottom: 25px;
        line-height: 1em;
        padding-top: 10px;
    }

}


@media (max-width: 414px){
    #aboutAdvisorsCont{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .advisorCont{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .advisorImg{
        width: 100%;
        max-width: none;
        height: auto;
    }
    .advisorImg Img{
        width: 100%;
    }
    .advisortextcontainer{
        width: 100%;
        padding: 0px;
    }
    #aboutAdvisors{
        min-height: 1150px;
    }
    #advisorSeparator{
        height: 10px;
    }
    .advisorlogo{
        height: auto;
    }
    .advisorlogo img{
        width: 70%;
        margin: 15%;
    }
}



/*Compliance Page*/
@media (max-width: 414px){
    #phoneWrapper{
        display: none;
    }
    #complianceHero{
        min-height: 700px;
    }
    #complianceHeroImgMobile{
    width: 90%;
    margin: 5%;
    min-width: 200px;
    padding-top: 50px;
}
}



@media (min-width: 1px){
    #phoneWrapperMobile{
        min-height: 300px;
        display: block;
        padding-top: 100px;
    }
}

@media (min-width: 415px){
    #phoneWrapperMobile{
        display: none;
    }
}

@media (min-width: 414px){
    complianceLargeHeader > h2{
        font-size: 1.3em;
    }
}



#about footer{
    background-color: #2e3840;
}



































