html{
    overflow-x: hidden;
}

@font-face {
  font-family: 'Promima Nova';
  font-style: 300;
  font-weight: 300;
  src: local('Promima Nova'), url('/fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Promima Nova';
  font-style: 400;
  font-weight: 400;
  src: local('Promima Nova'), url('/fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Promima Nova';
  font-style: 500;
  font-weight: 500;
  src: local('Promima Nova'), url('/fonts/ProximaNova-Semibold.otf') format('opentype');
}



@font-face {
  font-family: 'Promima Nova';
  font-style: 700;
  font-weight: 700;
  src: local('Promima Nova'), url('/fonts/ProximaNova-Bold.otf') format('opentype');
}

body {
  font-family: 'Promima Nova', serif;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1em;
    min-height:100%;
    min-width: 100%;
    max-width: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    font-soothing: antialiased;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Promima Nova', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}



h1 h2 h3 h4 p{
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 26px;
    font-weight: 300;
    color: #252525;
}


a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:focus{
    outline:none;
}

a{
    text-decoration: none;
    outline: none !important;
} 

a:focus{
    outline:none;
}

input {
    -webkit-appearance: none;
    border: none;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input, textarea, select, a { 
    outline: none; 
    box-shadow: none;
}

.globalH2{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	line-height: 30px;
	text-align: center;
	padding-top: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.homeH3{
	font-size: 28px;
	font-weight: 300;
	color: #364151;
	line-height: 34px;
	padding-top: 60px;
}

.globalP{
	color: #92969c;
	font-size: 14px;
	padding-bottom: 5px;
	line-height: 28px;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 1
}

.headerContainer{
    width: 95%;
    position: relative;
    margin: 0px auto;
    min-height: 50px;
}

.logo{
    padding-top: 15px;
    width: 60px;
    display: inline-block;
    float: left;
    padding-top: 20px;
}

.logo img{
    width: 55px;
}

.headerLinks{
    display: inline-block;
    float: right;
}

.headerLink{
    display: inline-block;
    float: right;
    padding-left: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 12px;
    letter-spacing: .25px;
    opacity: 0.8;
}

.headerLink:hover{
    opacity: 1;
}




footer{
    width: 100%;
    min-height: 440px;
    background: rgb(48, 50, 54);
    z-index: 10;
    position: relative;
    height: auto;
}

#footerContainer{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    display: block;
    min-height: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    height: auto;
}

#footerLogoDiv{
    
}

.footerCol{
    width: calc(100% / 4);
    display: inline-block;
    float: left;
    position: relative;
    max-height: 300px;
    padding-bottom: 30px;
}

.footerInternalCol{
    width: 90%;
    display: block;
    position: relative;
    height: auto;
}

#footerLogoDiv{
    width: 90%;
    margin: 0px auto;
    max-width: 250px;
    display: block;
    position: relative;
}

#footerlogo{
    width: 100%;
    max-width: 100px;
    margin: 0px auto;
    display: block;
    position: relative;
}

.footerH3{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    letter-spacing: .25px;
    margin-bottom: 20px;
}

.footerInternalCol p{
    font-size: 13px;
    font-weight:400;
    margin-bottom: 10px;
    color: #fff;
}

.footerInternalCol p a{
    color: #92969c;
}

.footerInternalCol p a:hover{
    color: #fff;
}

.footerLegalHeader{
    padding-top: 20px;
}

@media(max-width: 700px){
    .footerCol{
        width: calc(100% / 2);
        margin-bottom: 40px;
    }
    footer{
        min-height: 800px;
    }
}





















































