html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1em;
    min-height:100%;
    min-width: 100%;
    max-width: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    font-soothing: antialiased;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

h1 h2 h3 h4 p{
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 26px;
    font-weight: 300;
    color: #252525;
}


a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:focus{
    outline:none;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input, textarea, select, a { 
    outline: none; 
    box-shadow: none;
}

.globalH2{
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 30px;
	text-align: center;
	padding-top: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.homeH3{
	font-size: 28px;
	font-weight: 300;
	color: #364151;
	line-height: 34px;
	padding-top: 60px;
}

.globalP{
	color: #92969c;
	font-size: 14px;
	padding-bottom: 5px;
	line-height: 28px;
}
