#guidedTourPage{
    background: #252525;
}


#guidedTourPage .headerlinks{
    color: white;
}

#guidedTourPage .headerlinks:hover{
    background-color: rgba(225,225,225,0.05);
}


#guidedTourPage #nav_link_p_r_login{
    border: 1px rgba(225,225,225,0.5) solid;
    border-radius: 4px;

}



#guidedTourHeroImg{
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -140px;
}

#guidedtourSection1{
    width: 100%;
    min-height: 200px !important;
    position: relative;
    display: block;
    height: 200px;
    top: 0px;
}

#guidedTourS1Cont{
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0px auto;
    margin-top: 80px;
}

#guidedTourS1Cont h1{
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 0xp 5%;
    padding-top: 100px;
    padding-bottom: 20px;
    color: white;
}

#guidedTourS1Cont h2{
    max-width: 700px;
    position: relative;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #d7e3f0;   
}

#guidedTourPage #signUpBtnHomeTop{
    margin: 0px auto;
    margin-top: 140px;
}

#guidedTourPage #noComitSignUp{
    text-align: center;
    color: white;
}



#guidedtoursMainCont{
    max-width: 900px;
    position: relative;
    display: block;
    margin: 0px auto;
    margin-top: 300px;
    min-height: 1600px;
    text-align: justify;
    -ms-text-justify:distribute-all-lines;
    margin-bottom: 80px;
}

.tourCont{
    width: calc(100% / 2);
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
    margin-top: 40px;
}

.tourVidCont{
    width: 80%;
    margin-left: 10%;
}

@media (max-width: 480px){
    .tourCont{
        display: block;
        width: 80%;
        margin-left: 10%;
    }
    #guidedtoursMainCont{
        min-height: 2800px;
    }
}

#videoplaceholder{
    width: 100%;
    opacity: 0.85;
}

#videoplaceholder:hover{
    opacity: 1;
}

.gVideoH3{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.gVideoP{
    padding: 0px 10%;
    color: #72c8fa;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
    padding-top: 5px;
}


/*Video overlays*/

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.fancybox-lock .fancybox-overlay {
    background: #000000 !important;
}

.fancybox-close {
    position: fixed !important;
    top: 30px !important;
    left: 30px !important;
}

.fancybox-skin {
    background: transparent !important;
}

.fancybox-close {
    background-image: url('../img/close.png') cover !important;

}

.fancybox-overlay {
    z-index: 801000 !important;
}

.fancybox-opened {
    z-index: 803000 !important;
}

.fancybox-wrap {
    z-index: 802000 !important;
}